body {
  background: linear-gradient(to top, #1055a5, #04010a);
  height: 100vh;
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: white;
}

input {
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
}

.Logo {
  height: 200px
}

.App {
  text-align: center;
}

.app-title{
  text-align: center;
  color: lightslategray;
  font-size: 50px;
}

.btn{
  margin: 20px;
  color: white;
  border-radius: 5px;
}

.add-btn{
  background: lightslategray;
  width: 100px;
  height: 40px;
}

.yellow {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 50%;
  height: 400px;
  min-width: 400px;
  margin: 10px auto;
  padding: 40px 20px;
  background-color: rgb(238, 255, 0);
}

.green {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 50%;
  height: 400px;
  min-width: 400px;
  margin: 10px auto;
  padding: 40px 20px;
  background-color: rgb(0, 255, 34);
}

.red{
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 50%;
  height: 400px;
  min-width: 400px;
  margin: 10px auto;
  padding: 40px 20px;
  background-color: red;
}

.Instruction {
  color: white;
}