body {
  background: linear-gradient(to top, #1055a5, #04010a);
  height: 100vh;
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: white;
}

.Logo {
  height: 102px;
  width: 673px;
  margin: 0px;
  padding: 0px
}

.App {
  text-align: center;
}

.yellow {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 50%;
  height: 400px;
  min-width: 400px;
  margin: 10px auto;
  padding: 40px 20px;
  background-color: rgb(238, 255, 0);
}

.green {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 50%;
  height: 400px;
  min-width: 400px;
  margin: 10px auto;
  padding: 40px 20px;
  background-color: rgb(0, 255, 34);
}

.red{
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: 50%;
  height: 400px;
  min-width: 400px;
  margin: 10px auto;
  padding: 40px 20px;
  background-color: red;
}

.Instruction {
  color: white;
}

/* .Button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
}
.Button:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
} */

.Button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #24a5d8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #24a5d8;
  transition: .2s ease-in-out;
}
.Button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.Button:hover {
  background: #24a5d8;
  color: rgb(255, 253, 253);
}
.Button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}
